// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// vue-select
@import 'vue-select/dist/vue-select.css';

body {
    background-color: #EBEBEB;
}

#app {
    background-color: #EBEBEB;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 130px;
    padding-left: 130px;
  }



